@using Soenneker.Quark.Components.Builders
@using Soenneker.Quark.Components.Builders.Colors
@using Soenneker.Quark.OrderedLists
@inherits Soenneker.Quark.Components.Element

<nav aria-label="breadcrumb" @attributes="BuildAttributes()">
    <OrderedList Class="breadcrumb">
        @ChildContent
    </OrderedList>
</nav>

@code {
    [Parameter]
    public CssValue<ColorBuilder> Color { get; set; } = Components.Builders.Colors.Color.Light;

    [Parameter]
    public bool Large { get; set; }

    protected override Dictionary<string, object> BuildAttributes()
    {
        Dictionary<string, object> attributes = base.BuildAttributes();

        var baseClasses = "breadcrumb";

        if (Large)
            baseClasses = $"{baseClasses} breadcrumb-lg";

        AppendToClassAttr(attributes, baseClasses);

        return attributes;
    }
}
